<!doctype html>
<html lang="{{ metadata.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="maximum-scale=1,width=device-width,initial-scale=1,user-scalable=0">
    <title>
      {{ metadata.title }}
    </title>
    <link async rel="stylesheet" href="{{ relativePath }}css/vendor-style.css?v={{ global.faker.random.uuid }}">
    <link rel="stylesheet" href="{{ relativePath }}css/style.css?v={{ global.faker.random.uuid }}">
  </head>

  <body class="layout-body">
    {% include 'includes/header.twig' %}

    <main class="layout-limiter">
      {% include 'includes/wrapper.twig' with { 'blockName': 'button' } %}
      {% include 'includes/wrapper.twig' with { 'blockName': 'tag' } %}
      {% include 'includes/wrapper.twig' with { 'blockName': 'tooltip' } %}
    </main>

    {% include 'includes/footer.twig' %}

    <script type="text/javascript" src="{{ relativePath }}js/vendor.js?v={{ global.faker.random.uuid }}"></script>
    <script type="text/javascript" src="{{ relativePath }}js/app.js?v={{ global.faker.random.uuid }}"></script>

  </body>
</html>
